/* 確保頁面內容延伸以填滿整個視窗 */
html, body {
    height: 100%;
    width: 100%; /* 寬度設為100%，使圖片滿版 */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* 為偽元素提供上下文 */
    background-color: rgba(179, 179, 179, 0.3); /* 背景色的透明度 */
    overflow: hidden; /* 防止滾動條出現 */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* 寬度設為100%，使圖片滿版 */
    height: 100%; /* 高度設為100%，使圖片滿版 */
    background-image: url('../img/i_have_a_plan.jpg'); /* 設定背景圖片 */
    background-size: cover; /* 確保圖片覆蓋整個頁面 */
    background-position: center; /* 置中圖片 */
    background-attachment: fixed; /* 背景圖片固定在視窗 */
    opacity: 0.6; /* 調整背景圖片的透明度 */
    z-index: -1; /* 確保圖片位於其他內容的下方 */
}

.modal-dialog {
    position: fixed; 
    top: 22%;  /* 垂直居中 */
    left: 35%; /* 水平居中 */
    transform: translate(-50%, -50%); /* 進一步確保中心對齊 */
    min-width: 30%; /* 大螢幕下的最大寬度限制 */
    max-width: 60%; /* 大螢幕下的最大寬度限制 */
    width: auto; /* 根據內容自動調整寬度 */
    margin: 0; /* 清除可能的外邊距 */
}

/* 設定登入容器的樣式 */
.login-container {
    background-color: #ffffff; /* 白色背景 */
    border: 1px solid #ddd; /* 邊框顏色 */
    border-radius: 5px; /* 邊框圓角 */
    width: 400px; /* 設定寬度 */
    padding: 20px; /* 內邊距 */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* 輕微的陰影 */
}

/* 設定模態視窗內容樣式 */
.modal-content {
    background-color: #ffffff; /* 白色背景 */
    border: 1px solid #ddd; /* 邊框顏色 */
    border-radius: 5px; /* 邊框圓角 */
    width: 100%;
    max-width: 500px; /* 設定最大寬度 */
}

/* 設定按鈕顏色為淺灰色 */
.btn-primary {
    background-color: #d6d6d6; /* 淺灰色背景 */
    border-color: #d6d6d6; /* 淺灰色邊框 */
    color: #333; /* 按鈕文字顏色 */
}

.btn-primary:hover {
    background-color: #b3b3b3; /* 更深的灰色背景 */
    border-color: #b3b3b3; /* 更深的灰色邊框 */
}

.btn-primary:active {
    background-color: #b3b3b3 !important; /* 更深的灰色背景 */
    border-color: #b3b3b3 !important; /* 更深的灰色邊框 */
}

/* 設定註冊帳號的文字顏色為更淺的灰色 */
.btn-link {
    color: #9e9e9e; /* 更淺的灰色文字 */
    margin-top: -100px; /* 調整上方間距，使其更接近登入按鈕 */
}

.btn-link:hover {
    color: #757575; /* 鼠標懸停時的顏色 */
}
